services:
  api_gateway:
    build:
      context: https://github.com/davidcl24/api_gateway.git
      dockerfile: Dockerfile
    expose:
      - 30000
    container_name: api_gateway_container
    volumes:
      - nostralia_video_uploads:/uploads
    environment:
      - CONTENTS_SERVICE_URL=http://contents_service:8000/api
      - FAVOURITES_SERVICE_URL=http://favourites_service:7600
      - HISTORY_SERVICE_URL=http://history_service:7500
      - USERS_SERVICE_URL=http://users_service:4000/api
      - SECRET_KEY=eafed520b6c29b8d3c093a2a5b65b51a
      - REDIS_HOST=redis_queue
    depends_on:
      - ffmpeg_transcoder
    restart: on-failure

  postgres_db:
    build: ./Dockerfile-postgres.dockerfile
    container_name: postgres_db_container
    environment:
      - POSTGRES_USER=default
      - POSTGRES_PASSWORD=example
      - POSTGRES_DB=streamingdb
    volumes:
      - ./sql/TFG_Streaming_webapp_DB.sql:/docker-entrypoint-initdb.d/init.sql
      - nostralia_database:/var/lib/postgresql/data
    expose:
      - 5432
    restart: on-failure

  
  redis_queue:
    image: redis:latest
    container_name: redis_queue_container
    expose:
      - 6379
    restart: on-failure

  
  hls_nginx:
    build: ./Dockerfile-nginx.dockerfile
    container_name: hls_nginx_container
    volumes:
      - ./config/nginx_custom.conf:/etc/nginx/nginx.conf
      - nostralia_video_uploads:/mnt
    expose:
      - 8080
    ports:
      - 8080:8080
    restart: on-failure


  ffmpeg_transcoder:
    build: 
      context: https://github.com/davidcl24/ffmpeg_transcoder.git
      dockerfile: Dockerfile
    environment:
      - REDIS_HOST=redis_queue
      - REDIS_PORT=6379
    volumes:
      - nostralia_video_uploads:/uploads
    container_name: ffmpeg_transcoder_container
    depends_on:
      - redis_queue
    restart: on-failure

  
  contents_service:
    build: 
      context: https://github.com/davidcl24/contents_service.git
      dockerfile: Dockerfile
    container_name: contents_service_container
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=default
      - DB_PASSWORD=example
      - DB_DATABASE=streamingdb
    expose:
      - 8000
    depends_on:
      - postgres_db
    restart: on-failure


  users_service:
    build: 
      context: https://github.com/davidcl24/users_service.git
      dockerfile: Dockerfile
    container_name: users_service_container
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=default
      - DB_PASSWORD=example
      - DB_DATABASE=streamingdb
      - DATABASE_URL=postgres://default:example@postgres_db:5432/streamingdb
      - SECRET_KEY=eafed520b6c29b8d3c093a2a5b65b51a
      - PHX_SERVER=true
    expose:
      - 4000
    depends_on:
      - postgres_db
    restart: on-failure

  favourites_service:
    build: 
      context: https://github.com/davidcl24/favourites_service.git
      dockerfile: Dockerfile
    container_name: favourites_service_container
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=default
      - DB_PASSWORD=example
      - DB_DATABASE=streamingdb
    expose:
      - 7600
    depends_on:
      - postgres_db
    restart: on-failure

  history_service:
    build: 
      context: https://github.com/davidcl24/history_service.git
      dockerfile: Dockerfile
    container_name: history_service_container
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=default
      - DB_PASSWORD=example
      - DB_DATABASE=streamingdb
    expose:
      - 7500
    depends_on:
      - postgres_db
    restart: on-failure

  contents_manager_portal:
    build: 
      context: https://github.com/davidcl24/contents-manager-portal.git
      dockerfile: Dockerfile
    container_name: contents_manager_portal_container
    environment:
      - API_GATEWAY_URL=http://api_gateway:30000
    ports:
      - 25009:3000
    depends_on:
      - api_gateway
    restart: on-failure
  
  client_frontend:
    build: 
      context: https://github.com/davidcl24/client-frontend.git
      dockerfile: Dockerfile
    container_name: client_frontend_container
    environment:
      - API_GATEWAY_URL=http://api_gateway:30000
      - STREAMING_URL=http://vms.iesluisvives.org:25010
    ports:
      - 25008:3333
    depends_on:
      - api_gateway
    restart: on-failure

volumes:
  nostralia_database:
  nostralia_video_uploads: